version: "3.8"

volumes:
  graylog:
  opensearch:

services:
  opensearch:
    image: opensearchproject/opensearch:2
    restart: unless-stopped
    container_name: opensearch
    environment:
      - discovery.type=single-node
      - cluster.name=opensearch-cluster
      - node.name=opensearch
      - discovery.seed_hosts=opensearch
      - bootstrap.memory_lock=true
      - "OPENSEARCH_JAVA_OPTS=${OPENSEARCH_JAVA_OPTS:--Xms1024m -Xmx1024m}"
      - DISABLE_INSTALL_DEMO_CONFIG=true
      - network.host=0.0.0.0
      - plugins.security.disabled=true
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - opensearch:/usr/share/opensearch/data
    ports:
      - "127.0.0.1:9200:9200"
      - "127.0.0.1:9600:9600"

  graylog:
    image: graylog/graylog:6.2
    restart: always
    depends_on:
      - opensearch
    environment:
      - GRAYLOG_PASSWORD_SECRET=${GRAYLOG_PASSWORD_SECRET}
      - GRAYLOG_ROOT_PASSWORD_SHA2=${GRAYLOG_ROOT_PASSWORD_SHA2}
      - GRAYLOG_HTTP_EXTERNAL_URI=${GRAYLOG_HTTP_EXTERNAL_URI:-http://127.0.0.1:9000/}
      - GRAYLOG_WEB_ENDPOINT_URI=${GRAYLOG_WEB_ENDPOINT_URI:-http://127.0.0.1:9000/api}
      - GRAYLOG_ELASTICSEARCH_HOSTS=${GRAYLOG_ELASTICSEARCH_HOSTS:-http://opensearch:9200}
    entrypoint: /usr/bin/tini -- wait-for-it opensearch:9200 -- /docker-entrypoint.sh
    volumes:
      - graylog:/usr/share/graylog/data
    ports:
      - "127.0.0.1:9000:9000"
      - "127.0.0.1:1514:1514"
      - "127.0.0.1:1514:1514/udp"
      - "127.0.0.1:12201:12201"
      - "127.0.0.1:12201:12201/udp"
